.o_form_field_required {
  background-color: #aa9027 !important;
}

.o.required_modifier > input.o_input {
  background-color: rgb(59, 52, 156) !important;
}

.o_form_view .o_form_required .o_form_input {
  border-width: 2px;
  border-color: #626262;
  background-color: #7ac5b6,#5dbdaa !important;
}